<!DOCTYPE html>
<html>
<head>
    <title>MediMind AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="chat-container">

    <h1>MediMind AI</h1>

    <div id="chat-box"></div>

    <div class="input-area">
        <input type="text" id="user-input" placeholder="Ask medical question...">
        <button onclick="sendMessage()">Send</button>
    </div>

</div>

<script>

async function sendMessage() {

    let inputField = document.getElementById("user-input");
    let message = inputField.value;

    if(message.trim() === "") return;

    let chatBox = document.getElementById("chat-box");

    chatBox.innerHTML += `
        <div class="user-message">
            <b>You:</b> ${message}
        </div>
    `;

    inputField.value = "";

    const response = await fetch("/get", {
        method: "POST",
        headers: {
            "Content-Type": "application/x-www-form-urlencoded"
        },
        body: `msg=${encodeURIComponent(message)}`
    });

    const data = await response.json();

    chatBox.innerHTML += `
        <div class="bot-message">
            <b>MediMind:</b> ${data.response}
        </div>
    `;

    chatBox.scrollTop = chatBox.scrollHeight;
}

</script>

</body>
</html>